body{
    background-position: center;
    background-size: cover;
}
.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status{
font-size: 18px;
}
a{
    background: yellowgreen;
    color: white;
    font-size:18px !important ;
    border-radius: 15px !important;
    cursor: pointer;
    width: 30%;
}